@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #ffffff;

  --card: #1e1e1e;
  --card-foreground: #ffffff;

  --popover: #121212;
  --popover-foreground: #ffffff;

  --primary: #D32F2F;
  --primary-foreground: #ffffff;

  --secondary: #27272a;
  --secondary-foreground: #ffffff;

  --muted: #2a2a2a;
  --muted-foreground: #a3a3a3;

  --accent: #D32F2F;
  --accent-foreground: #ffffff;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;

  --border: #2a2a2a;
  --input: #2a2a2a;
  --ring: #D32F2F;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}